{% extends 'AnimalsBundle::base.html.twig' %}

{% block body %}
<div class="row">
	<h1 class="page-header">Welcome to AniList</h1>
	<table class="table table-striped">
		<thead>
			<tr><th>Name</th><th>Description</th><th>&nbsp;</th></tr>
		</thead>
		<tbody>
			{% for item in animalsTab %}
			<tr style="background-color:{{item.colorBG}}">
				<td>{{item.name}}</td>
				<td>{{item.type}}</td>
				<td>
					<span class="btn btn-warning" title="Edit"><span class="glyphicon glyphicon-pencil"></span></span>
					&nbsp;
					<span class="btn btn-danger" title="Delete"><span class="glyphicon glyphicon-trash"></span></span>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
